Pertama-tama, karena menggunakan dataset kaggle, maka harus mengupload kaggle.json berisi username akun kaggle. Untuk keamanan data tersebut, dapat menggunakan chmod 600

---

In [ ]:
from google.colab import files
!pip install -q kaggle
files.upload()
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 /root/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json

Masuk kedalam direktori yang kita kehendaki untuk mendownload dataset tersebut

---

In [ ]:
import os

os.chdir("/content/drive/MyDrive/recomendation")

Mendownload dataset yang diinginkan dan melakukan unzip data tersebut

---

In [ ]:
!kaggle datasets download -d danielgrijalvas/movies --unzip

Downloading movies.zip to /content/drive/MyDrive/recomendation
  0% 0.00/424k [00:00<?, ?B/s]
100% 424k/424k [00:00<00:00, 57.3MB/s]

Melakukan import library yang dibutuhkan dan melakukan load data csv yang telah di download

---

In [1]:
import pandas as pd
data_movies=pd.read_csv('/content/drive/MyDrive/recomendation/movies.csv')

Mengecek isi data 2 teratas

---

In [2]:
data_movies.head(2)

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0

Melakukan drop column yang tidak dibutuhkan

---

In [3]:
data_movies.drop(
    labels = ['year','released','votes','budget','gross','runtime'],
    axis=1,
    inplace=True
)

Menginisiasi data kedalam variable baru untuk mengantisipasi apabila ada kesalahan

---

In [4]:
df_cad = data_movies
df_cad

,name,rating,genre,score,director,writer,star,country,company
0,The Shining,R,Drama,8.4,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,Warner Bros.
1,The Blue Lagoon,R,Adventure,5.8,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,Columbia Pictures
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,8.7,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,Lucasfilm
3,Airplane!,PG,Comedy,7.7,Jim Abrahams,Jim Abrahams,Robert Hays,United States,Paramount Pictures
4,Caddyshack,R,Comedy,7.3,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,Orion Pictures
...,...,...,...,...,...,...,...,...,...
7663,More to Life,NaN,Drama,3.1,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,NaN
7664,Dream Round,NaN,Comedy,4.7,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,Cactus Blue Entertainment
7665,Saving Mbango,NaN,Drama,5.7,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,Embi Productions
7666,It's Just Us,NaN,Drama,NaN,James Randall,James Randall,Christina Roz,United States,NaN
7667,Tee em el,NaN,Horror,5.7,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,PK 65 Films

Mengecek apakah terdapat null values di dalam dataframe

---

In [5]:
df_cad.isnull().sum()

name         0
rating      77
genre        0
score        3
director     0
writer       3
star         1
country      3
company     17
dtype: int64

Menghilangkan missing data pada dataframe

---

In [6]:
df_cad.dropna()

,name,rating,genre,score,director,writer,star,country,company
0,The Shining,R,Drama,8.4,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,Warner Bros.
1,The Blue Lagoon,R,Adventure,5.8,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,Columbia Pictures
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,8.7,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,Lucasfilm
3,Airplane!,PG,Comedy,7.7,Jim Abrahams,Jim Abrahams,Robert Hays,United States,Paramount Pictures
4,Caddyshack,R,Comedy,7.3,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,Orion Pictures
...,...,...,...,...,...,...,...,...,...
7652,The Eight Hundred,Not Rated,Action,6.8,Hu Guan,Hu Guan,Zhi-zhong Huang,China,Beijing Diqi Yinxiang Entertainment
7653,The Quarry,R,Crime,5.4,Scott Teems,Scott Teems,Shea Whigham,United States,Prowess Pictures
7656,Tulsa,PG-13,Comedy,5.0,Scott Pryor,Scott Pryor,Scott Pryor,United States,Pryor Entertainment
7658,Black Wall Street Burning,R,Drama,6.6,Marcus Brown,Dekoven Riggins,Dan Belcher,United States,Notis Studio
7659,I Am Fear,Not Rated,Horror,3.4,Kevin Shulman,Kevin Shulman,Kristina Klebe,United States,Roxwell Films

Melakukan inisiasi TfidfVectorizer() <br> Teknik ini digunakan untuk menemukan representasi dari nama genre film yang ada pada dataframe

---

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer()
tf.fit(df_cad['genre']) 
tf.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['action',
 'adventure',
 'animation',
 'biography',
 'comedy',
 'crime',
 'drama',
 'family',
 'fantasy',
 'fi',
 'history',
 'horror',
 'music',
 'musical',
 'mystery',
 'romance',
 'sci',
 'sport',
 'thriller',
 'western']

Tahapan ini dilakukan untuk mentransformasi data nama games yang ada menjadi matrix

---

In [8]:
tfidf_matrix = tf.fit_transform(df_cad['genre']) 

tfidf_matrix.shape

(7668, 20)

Setelah mendapatkan bentuk matrix dari tahapan di atas, kemudian untuk menghasilkan vector dari tdidf menggunakan method todense()

---

In [9]:
tfidf_matrix.todense()

matrix([[0., 0., 0., ..., 0., 0., 0.],
        [0., 1., 0., ..., 0., 0., 0.],
        [1., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]])

Membuat data frame untuk melihat isi matrix tfidf dengan nama genre dengan nama film

---

In [10]:
pd.DataFrame(
    tfidf_matrix.todense(), 
    columns=tf.get_feature_names(),
    index=df_cad.name
).sample(22, axis=1,replace=True).sample(10, axis=0,replace=True)

,drama,romance,adventure,western,family,sci,horror,sci,mystery,crime,...,animation,horror,western,sci,drama,action,drama,biography,animation,romance
name,,,,,,,,,,,,,,,,,,,,,
Girl with a Pearl Earring,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
Curious George,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
Lucky Number Slevin,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
The Eye,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
The Other Boleyn Girl,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
Across the Universe,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
Harry Brown,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
The Right Stuff,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Van Wilder,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Native Son,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0

Menghitung derajat kesamaan (similarity degree) antar games dengan teknik cosine similarity.

---

In [11]:
from sklearn.metrics.pairwise import cosine_similarity
 
# Menghitung cosine similarity pada matrix tf-idf
cosine_sim = cosine_similarity(tfidf_matrix) 
cosine_sim

array([[1., 0., 0., ..., 1., 1., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [1., 0., 0., ..., 1., 1., 0.],
       [1., 0., 0., ..., 1., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [12]:
# Membuat dataframe dari variabel cosine_sim dengan baris dan kolom berupa nama resto
cosine_sim_df = pd.DataFrame(cosine_sim, index=df_cad['name'], columns=df_cad['name'])
print('Shape:', cosine_sim_df.shape)
 
# Melihat similarity matrix pada setiap resto
cosine_sim_df.sample(5, axis=1).sample(10, axis=0)

Shape: (7668, 7668)

name,All the Right Moves,We Are Your Friends,Nightwatch,La Cage aux Folles 3: The Wedding,Just Go with It
name,,,,,
The Crazies,0.0,0.0,0.0,0.0,0.0
The Soldier,0.0,0.0,0.0,0.0,0.0
Ghostbusters II,0.0,0.0,0.0,0.0,0.0
Chaplin,0.0,0.0,0.0,0.0,0.0
Swingers,0.0,0.0,0.0,1.0,1.0
Calvary,1.0,1.0,1.0,0.0,0.0
Death Race,0.0,0.0,0.0,0.0,0.0
Silver Linings Playbook,0.0,0.0,0.0,1.0,1.0
Another 48 Hrs.,0.0,0.0,0.0,0.0,0.0
10 Years,0.0,0.0,0.0,1.0,1.0

Membuat method untuk memberikan rekomendasi berdasarkan nama film

---

In [13]:
def movie_recommendations(nama_movie, similarity_data=cosine_sim_df, items=df_cad[['name', 'genre','score','company']], k=5):
   
    index = similarity_data.loc[:,nama_movie].to_numpy().argpartition(
        range(-1, -k, -1))
    
    # Mengambil data dengan similarity terbesar dari index yang ada
    closest = similarity_data.columns[index[-1:-(k+2):-1]]
    
    # Drop nama_movie agar nama movie yang dicari tidak muncul dalam daftar rekomendasi
    closest = closest.drop(nama_movie, errors='ignore')
 
    return pd.DataFrame(closest).merge(items).head(k)

Menampilkan hasil rekomendasi berdasarkan content based filter

---

In [20]:
genre_recomendation = movie_recommendations('The Blue Lagoon')
genre_recomendation

                        name      genre  score               company
0          Shanghai Surprise  Adventure    3.2        HandMade Films
1          Dunston Checks In  Adventure    5.4  Joe Wizan/Todd Black
2                Stand by Me  Adventure    8.1     Columbia Pictures
3  Robin Hood: Men in Tights  Adventure    6.7           Brooksfilms
4               Black Beauty  Adventure    6.6          Warner Bros.

Membuat dataframe baru untuk menampung data dengan nama The Blue Lagoon

---

In [16]:
genre_cad = df_cad[df_cad['name'] == 'The Blue Lagoon']

Menampung nama genre rekomendasi yang dikeluarkan program

---

In [17]:
get_feature_genre=[]
for i in range(len(genre_cad.genre)):
    for x in genre_cad.genre.str.split(','):
        if x not in get_feature_genre:
            get_feature_genre.append(x)

Menghitung hasil presisi dari nama genre yang dikeluarkan oleh model

---

In [18]:
for i in get_feature_genre[0]:
  print(i + ": " + str((
      (genre_recomendation['genre'].str.contains(i).count()/genre_recomendation['genre'].count())*100)
  ))

Adventure: 100.0